/* .searchdiv{
    border: 1px solid black;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 50px;

}
#sb{
    width: 700px;
    
} */
.search-container {
    position: relative;
    margin-top: 20px;
}

.search-input {
    width: 400px;
    border-radius: 30px;
    padding-left: 35px;
    border: none;
    background-color:#F0F0f0;
}

.icon {
    position: absolute;
    top: 50%;
    left: 0px;
    
    transform: translateY(-50%);
    color:lightgrey;
    font-size:22px;
}